replicaCount: 2

image:
  repository: tompazus.jfrog.io/docker-virtual/numeric-app
  tag: latest
  pullPolicy: IfNotPresent
  pullSecret: tompazus-registry-secret

service:
  type: NodePort
  port: 8080
  targetPort: 8080

appName: numeric
